* { /* Formatação Padrão Para Tudo */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face { /* Fontes */
  font-family: 'GTPressura';
  src: url('Fontes/GTPressuraLight.ttf');
}

@font-face { /* Fontes */
  font-family: 'MontserratExtraBold';
  src: url('Fontes/Montserrat-ExtraBold.ttf');
}
header { /* Parte de Cima da Página*/
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 100px;
  background: white;
  border-top: 30px solid rgb(149, 213, 255);
  border-bottom: 30px solid rgb(149, 213, 255);
  position: relative;
  margin-bottom: 30px;
}

.menu { /* Parte de Cima da Página*/
  display: flex;
  margin-left: 50px;
}

.menu a { /* Parte de Cima da Página*/
  text-decoration: none;
  color: black;
  margin-left: 5px;
  margin-right: 20px;
  font-family: "MontserratExtraBold";
  font-size: 1.25rem;
}

.menu img { /* Parte de Cima da Página*/
  height: 25px;
}

.logo { /* Parte de Cima da Página*/
  height: 90px;
  border-radius: 20px;
}

.footer { /* Parte de Baixo da Página*/
  background-color: rgb(149, 213, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-family: 'MontserratExtraBold';
}

.footer p { /* Parte de Baixo da Página*/
  font-family: 'MontserratExtraBold';
}

.maps { /* Mapa da Página Sobre */
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 100%;
}

.maps iframe { /* Mapa da Página Sobre */
  max-width: 800px;
  width: 100%;
  border-radius: 15px;
  border: 3px solid rgb(149, 213, 222);
}

.maps p { /* Paragrafo da Página Sobre */
  padding-top: 10px;
  padding-bottom: 10px;
}

.tabela table { /* Tabela da Página Sobre */
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 50px 50px rgba(0,0,0,0.2);
}

.tabela th, .tabela td { /* Tabela da Página Sobre */
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.tabela th { /* Tabela da Página Sobre */
  background-color: rgb(149, 213, 222);
  color: black;
}

.fundo { /* Formatação do h1 */
  background-color:rgb(149, 213, 222);
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  font-family: cursive;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 200px;
  margin-right: 200px;
}

.fundo2 { /* Formatação do h1 V2.0*/
  background-color:rgb(149, 213, 222);
  text-align: center;
  font-size: 40px;
  border-radius: 20px;
  font-family: cursive;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left:  400px;
  margin-right: 400px;
}

.produtos { /* DIV de Produtos */
  display: grid ;
  grid-template-columns: repeat(auto-fit, minmax(100px, 5fr));
}

.card { /* DIV de Produtos Card */
  background: rgb(193, 192, 216); 
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: all 0.4s ease;
  scale: 80%;
  border: 1px solid black;
}

.card:hover { /* DIV de Produtos Card */
  transform: translateY(-15px);
  border:2px solid var(black);
}

.produto-img { /* DIV de Produtos Imagem */
  scale: 100%;
  overflow: hidden;
}

.produto-img img { /* DIV de Produtos Picolés */
  width: 100%;
  height:100%;
  object-fit:fill;
  aspect-ratio: 6/10;
  transition: transform 0.5s ease;
}

.produto-img2 img { /* DIV de Produtos Sorvetes */
  width: 100%;
  height:100%;
  object-fit:fill;
  aspect-ratio: 100%;
  transition: transform 0.5s ease;
}

.card:hover .produto-img img { /* DIV de Produtos */
  transform: scale(1.05);
}

.produto-titulo { /* Título dos Produtos */
  font-size: 24px;
  color:black;
  margin-top: 40px;
  text-align: center;
}

.desc { /* DIV de Produtos Descrição */
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: "GTPressura";
}


@media (max-width: 760px) { /* Configurações de Responsividade Para Celulares */
  
  header { /* Parte de Cima da Página*/
    flex-direction: column;
    height: auto;
    padding: 20px 10px;
  }

  .logo { /* Parte de Cima da Página*/
    height: 70px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .menu { /* Parte de Cima da Página*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-left: 0;
  }

  .menu a { /* Parte de Cima da Página*/
    margin-right: 0;
    margin-left: 0;
    font-size: 20px;
    text-align: center;
  }

  .menu img { /* Parte de Cima da Página*/
    display: none;
  }

  .tabela table { /* Tabela */
    width: 100%;
    font-size: 14px;
  }

  iframe { /* Google Maps */
    width: 100% !important;
    height: 300px;
  }

  footer { /* Parte de Baixo da Página*/
    font-size: 15px;
  }

  .fundo { /* Formatação do h1 */
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5px;
    margin-right: 5px;
  }

  .produtos { /* DIV de Produtos */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  max-width: 900px;
  margin: 0 auto;
  }
}